.root {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-background-color: aliceblue;
    }
.text-field {
    -fx-border-color: lightskyblue;
    -fx-background-image: url(loki.jpg);
    -fx-font-family: "arial";
    -fx-font-size: 14px;



    }
.header {
    -fx-background-color: lightskyblue;
    }


.label
{
    -fx-font-family: "arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}
.split-pane .split-pane-divider
{
    -fx-border-color: lightskyblue;
}

.headerTitle
{
    -fx-font-family: "arial";
    -fx-font-size: 28px;
    -fx-font-weight: bolder;
}
.date-picker
{
    -fx-alignment: CENTER;
    -fx-font-family: "arial";
    -fx-font-size: 14px;
    -fx-padding: 5;

}
.tab-header-background
{
    -fx-background-color: aliceblue;

}
.tab-pane
{
    -fx-border-color: lightgrey;
    -fx-border-insets: 4;
}

.rootGridPane
{
    -fx-padding: 10 5 5 5;
}
.tab
{
    -fx-background-color: aliceblue;
    -fx-border-color: lightskyblue;
    -fx-border-width: 2;
}
.tab:selected
{
    -fx-background-color: lightskyblue;
    -fx-border-color: aliceblue;
    -fx-border-width: 2;
}