.root {
    -fx-background-image: url("background-pine.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;




    /*-fx-font-family: "Lucida Sans";*/
    /*-fx-font-size: 24px;*/
    /*-fx-font-weight: bolder;*/
}

.button
{

    -fx-background-color: derive(steelblue, 10%) black;

    -fx-border-width: 2px;
}

.button .text
{
    -fx-font-family: "Lucida Sans";
    -fx-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 16px;
}

.text-field
{
    /*-fx-background-color: derive(steelblue, 10%) black;*/
}

